<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.serhio.homeaccountingapp">

    <!-- Дозволи -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Дозвіл на повний доступ до зовнішнього сховища (тільки для Android 11 і вище) -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:targetApi="30" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launchers"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launchers_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeAccountingApp"
        tools:targetApi="31">

        <!-- MainActivity з темою заставки -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Додаткові активності -->
        <activity android:name=".IncomeActivity" />
        <activity android:name=".ExpenseActivity" />
        <activity android:name=".IncomeTransactionActivity" />
        <activity android:name=".ExpenseTransactionActivity" />
        <activity android:name=".IssuedOnLoanActivity" />
        <activity android:name=".BorrowedActivity" />
        <activity android:name=".AllTransactionIncomeActivity" />
        <activity android:name=".AllTransactionExpenseActivity" />
        <activity android:name=".BudgetPlanningActivity" />
        <activity android:name=".TaskActivity" />

        <!-- Оголошення BroadcastReceiver -->

    </application>

</manifest>